# Configurações do Firebase
VITE_FIREBASE_API_KEY=sua_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=sua_auth_domain_aqui
VITE_FIREBASE_PROJECT_ID=sua_project_id_aqui
VITE_FIREBASE_STORAGE_BUCKET=sua_storage_bucket_aqui
VITE_FIREBASE_MESSAGING_SENDER_ID=sua_messaging_sender_id_aqui
VITE_FIREBASE_APP_ID=sua_app_id_aqui
VITE_FIREBASE_MEASUREMENT_ID=sua_measurement_id_aqui
